body {
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.pagetop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 2rem;
}


.topimg img{

    width: 100%;
    height: auto;
    
}

.topimagetext {
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 99;
    top: 10%;
    position: absolute;
    text-align: center;
    opacity: 85%;
}