body {

    margin: 0;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.pagetop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.HomeButton {
    position: absolute;
    z-index: 100;
    margin: 1rem;
    top: 0;
    left: 0;
    display: block;
    font-size: 3rem;
}


.HomeButton a {

    text-decoration: none;
    color: white;
    opacity: 75%;
}

.topimg img{

    width: 100%;
    height: auto;
    opacity: 50%;
}

.topimagetext {
    width: 100%;
    height: auto;
    z-index: 99;
    top: 10%;
    position: absolute;
    text-align: center;
    opacity: 85%;
}

article h1 {

    font-size: 4rem;
    
    }
    
article section {
    
        width: 75%;
        height: auto;
        font-size: 2rem;
        margin-bottom: 3rem;
}