@keyframes onPageLoad {

    from {
        opacity: 0%;
        transform: scale(110%);
    }

    to {
        opacity: 50%;
        transform: scale(100%);
    }
}

@keyframes onPageLoadText {

    from { 
        opacity: 0;
        transform: translateY(0);}

    to { 
        opacity: 85%;
        transform:translateY(-5%);}
}

body {
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.pagetop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 2rem;
}

.pagetop img {

    animation-name: onPageLoad;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.pagetop h1 {
    opacity: 0;
    color: white;
    animation-name: onPageLoadText;
    animation-delay: 0.25s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.HomeButton {
    position: absolute;
    z-index: 100;
    margin: 1rem;
    top: 0;
    left: 0;
    display: block;
    font-size: 3rem;
}


.HomeButton a {

    text-decoration: none;
    color: white;
    opacity: 75%;
}

.topimg img {

    width: 100%;
    height: auto;
    opacity: 50%;

}

.topimagetext {
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 99;
    top: 10%;
    position: absolute;
    text-align: center;
    opacity: 85%;
}


article h1 {

    font-size: 4rem;
    
    }
    
article section {
    
        width: 75%;
        height: auto;
        font-size: 2rem;
        margin-bottom: 3rem;
}


/*Media Queries*/

@media screen and (max-width: 480px) {
    .pagetop {

        font-size: 1rem;
    }

    .HomeButton {

        font-size: 2rem;
    }

    article h1 {

        font-size: 2.5rem;
    }

    article section {

        font-size: 1.5rem;
    }
    
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .pagetop {

        font-size: 1.5rem;
    }
    
    .HomeButton {

        font-size: 2.5rem;
    }
    article h1 {

        font-size: 3rem;
    }

    article section {

        font-size: 2rem;
    }


}