@keyframes onPageLoad {

    from {
        opacity: 0%;
        transform: scale(110%);
    }

    to {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes onPageLoadText {

    from { 
        opacity: 0;
        transform: translateY(0);}

    to { 
        opacity: 85%;
        transform:translateY(-5%);}
}



body {

    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
}

footer {
    
    background-color: rgba(0, 0, 0, 50%);
    width: 100%;
    font-size: 2rem;
    text-align:center;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    color: rgb(107, 154, 255);

}

footer button[type='submit'] {

    background-color: rgb(107, 154, 255);
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    color:rgb(0, 0, 0);
    border-radius: 10%;
}

footer input[type='email'] {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
    text-decoration-color: gray;
    background-color: transparent;
    border-color: transparent;
    color: rgb(255, 255, 255);
} 

.topimagetext {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.topimagetext h1 {

    position: absolute;
    z-index: 99;
    margin-bottom: -50%;
    margin-top: 20%;
    font-size: 2.5rem;
    padding: 10%;
    opacity: 0%;
    text-align: center;
    color: white;
    animation-name: onPageLoadText;
    animation-delay: 0.25s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}

.topimagetext img {


    width: 100%;
    height: auto;
    box-shadow: 50px 5px -15px black;
    animation-name: onPageLoad;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    
}

div video {

    width: 100%;
    height: auto;
    
}

.hidden {
    display: none;
}

.menu {
    width: 100%;
    height: 50%;
    color: rgb(255, 255, 255);
    font-family:  'Bebas Neue', cursive;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25%;
    text-align: center;
    transition: transform 0.25s ease-in-out;

}

.menu a {
    width: 100%;
    color: white;
    text-decoration: none;
}

.menu nav:first-of-type {

    background-color: rgb(0, 0, 0);
}

.menu nav:nth-of-type(2) {

    background-color: rgb(0, 0, 16);
}

.menu nav:nth-of-type(3) {

    background-color: rgb(0, 0, 32);
}

.menu nav:nth-of-type(4) {

    background-color: rgb(0, 0, 48);
}

.menu nav:hover {

    transform: scale(1.05);

}

/*-Tablet Media-*/

@media screen and (min-width: 481px) and (max-width: 768px) {

    footer {

        font-size: 1rem;

    }

    footer button[type='submit'] {

        font-size: 1rem;

    }

    footer input[type='email'] {

        font-size: 1rem;
    }


    .topimagetext h1 {

        width: 80%;
        font-size: 4rem;
        margin-top: 5%;
    }

    .menu nav:first-of-type {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(2) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(3) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(4) {

        width: 50%;
        height: 50%;

    }



      
}

/* Phone Media */

@media only screen and (max-width: 480px) {

    footer {

        font-size: 1rem;

    }

    footer button[type='submit'] {

        font-size: 1rem;

    }

    footer input[type='email'] {

        font-size: 1rem;
    }

  }

/*-Standard Screen/WideScreen Media-*/

@media screen and (min-width: 769px) and (max-width: 2000px) {

    

    .topimagetext h1 {

        width: 80%;
        font-size: 4rem;
        margin-top: 5%;
    }

    .menu nav {

        font-size: 2rem;
    }


    .menu nav:first-of-type {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(2) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(3) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(4) {

        width: 50%;
        height: 50%;

    }

}