@keyframes onPageLoad {

    from {
        opacity: 0%;
        transform: scale(110%);
    }

    to {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes onPageLoadText {

    from { 
        opacity: 0;
        transform: translateY(0);}

    to { 
        opacity: 85%;
        transform:translateY(-5%);}
}



body {

    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
}

.topimagetext {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.topimagetext h1 {

    position: absolute;
    z-index: 99;
    margin-bottom: -50%;
    margin-top: 20%;
    font-size: 2.5rem;
    padding: 10%;
    opacity: 0%;
    text-align: center;
    color: white;
    animation-name: onPageLoadText;
    animation-delay: 0.25s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}

.topimagetext img {


    width: 100%;
    height: auto;
    box-shadow: 50px 5px -15px black;
    animation-name: onPageLoad;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    
}

div video {

    width: 100%;
    height: auto;
    
}


.menu {
    width: 100%;
    height: 50%;
    color: rgb(255, 255, 255);
    font-family:  'Bebas Neue', cursive;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25%;
    text-align: center;
    transition: transform 0.25s ease-in-out;

}

.menu nav:first-of-type {

    background-color: rgb(0, 0, 0);
}

.menu nav:nth-of-type(2) {

    background-color: rgb(0, 0, 16);
}

.menu nav:nth-of-type(3) {

    background-color: rgb(0, 0, 32);
}

.menu nav:nth-of-type(4) {

    background-color: rgb(0, 0, 48);
}

.menu nav:hover {

    transform: scale(1.05);

}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  
  .video-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
  }


/*-Tablet Media-*/

@media screen and (min-width: 481px) and (max-width: 768px) {

    .topimagetext h1 {

        width: 80%;
        font-size: 4rem;
        margin-top: 5%;
    }

    .menu nav:first-of-type {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(2) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(3) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(4) {

        width: 50%;
        height: 50%;

    }


    .video-background video {
        background: url(videos/wormhole-6797vig2square.mp4) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }



      
}

/* Phone Media */

@media screen and (max-width: 480px) {
    .video-background video {
      background: url(videos/wormhole-6797vig2phone.mp4) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

/*-Standard Screen/WideScreen Media-*/

@media screen and (min-width: 769px) and (max-width: 2000px) {

    .topimagetext h1 {

        width: 80%;
        font-size: 4rem;
        margin-top: 5%;
    }

    .menu nav {

        font-size: 2rem;
    }


    .menu nav:first-of-type {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(2) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(3) {

        width: 50%;
        height: 50%;

    }
    
    .menu nav:nth-of-type(4) {

        width: 50%;
        height: 50%;

    }

}